.thumb{color:red;
            display:inline-block;
             background:linear-gradient(grey,white);
font-family:cursive;
             }
.mine{color:blue;
          display:inline-block;
          background:radial-gradient(yellow,pink)}
.thea{color:#b66776;
        font-family:;
        display:inline-block;
}
.leap{border-style:double; }
.joik{border-style:dashed;}
.tree{color:#588686;}
p{color:#a1878f;}
.toop{color:blue;}
.nik{font-family:cursive;
color:#ca5567;}
figure{color:blue;}
.tatti{color:red;}